In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from normalize_data import getNormalizedDataset
import category_encoders as ce

In [2]:
import matplotlib.pyplot as plt
import seaborn as sn

In [3]:
df = pd.read_csv('train.csv',
        index_col='id',
        dtype={'gimnasio': int,
                'usosmultiples': int,
                'escuelascercanas': int,
                'piscina': int,
                'centroscomercialescercanos': int,
                'tipodepropiedad': 'category',
                'provincia': 'category',
                'ciudad': 'category'
            },
        parse_dates=['fecha'])

df_test = pd.read_csv('test.csv',
        index_col='id',
        dtype={'gimnasio': int,
                'usosmultiples': int,
                'escuelascercanas': int,
                'piscina': int,
                'centroscomercialescercanos': int,
                'tipodepropiedad': 'category',
                'provincia': 'category',
                'ciudad': 'category'
            },
        parse_dates=['fecha'])

In [4]:
#normalizo la data, borrando los reg malos y llenando nulos
df = getNormalizedDataset(df)

c:\users\gaston\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
c:\users\gaston\appdata\local\programs\python\python37\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
C:\Users\Gaston\Desktop\facu\Orga de Datos\tp2\tp2-zonajobs\normalize_data.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['extras'] = df['garages']+df['piscina']+df['usosmultiples']+df['gimnasio']
C:\Users\Gaston\Desktop\facu\Orga de Datos\tp2\tp2-zonajobs\normalize_data.py:88: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['garages'] = df['garages'].astype(int)
C:\Users\Gaston\Desktop\facu\Orga de Datos\tp2\tp2-zonajobs\normalize_data.py:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['antiguedad'] = df['antiguedad'].astype(int)
C:\Users\Gaston\Desktop\facu\Orga de Datos\tp2\tp2-zonajobs\normalize_data.py:90: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['banos'] = df['banos'].astype(int)
C:\Users\Gaston\Desktop\facu\Orga de Datos\tp2\tp2-zonajobs\normalize_data.py:91: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['habitaciones'] = df['habitaciones'].astype(int)
C:\Users\Gaston\Desktop\facu\Orga de Datos\tp2\tp2-zonajobs\normalize_data.py:92: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['metroscubiertos'] = df['metroscubiertos'].astype(int)
C:\Users\Gaston\Desktop\facu\Orga de Datos\tp2\tp2-zonajobs\normalize_data.py:93: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['metrostotales'] = df['metrostotales'].astype(int)
C:\Users\Gaston\Desktop\facu\Orga de Datos\tp2\tp2-zonajobs\normalize_data.py:94: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dia'] = df.fecha.dt.day
C:\Users\Gaston\Desktop\facu\Orga de Datos\tp2\tp2-zonajobs\normalize_data.py:95: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mes'] = df.fecha.dt.month
C:\Users\Gaston\Desktop\facu\Orga de Datos\tp2\tp2-zonajobs\normalize_data.py:96: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['anio'] = df.fecha.dt.year

In [5]:
df.head()

,tipodepropiedad,ciudad,provincia,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio,extras,dia,mes,anio
id,,,,,,,,,,,,,,,,,,,
254099,Apartamento,Benito Juárez,Distrito Federal,0,2,1,2,80,80,0,0,0,0,0,2273000.0,1.0,23,8,2015
53461,Casa en condominio,La Magdalena Contreras,Distrito Federal,10,3,2,2,268,268,0,0,0,1,1,3600000.0,2.0,28,6,2013
247984,Casa,Tonalá,Jalisco,5,3,2,2,144,166,0,0,0,0,0,1200000.0,2.0,17,10,2015
209067,Casa,Zinacantepec,Edo. de México,1,2,1,1,63,67,0,0,0,1,1,650000.0,1.0,9,3,2012
185997,Apartamento,Zapopan,Jalisco,10,2,1,1,95,95,0,0,0,0,0,1150000.0,1.0,7,6,2016

In [6]:
# Target mean Encoding
cat_features = ['tipodepropiedad','ciudad','provincia']

enc = ce.TargetEncoder(cols=cat_features).fit(df.drop('precio', axis=1), df['precio'])

df_train = enc.transform(df.drop('precio', axis=1), df['precio'])

df_train.head()

,tipodepropiedad,ciudad,provincia,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,extras,dia,mes,anio
id,,,,,,,,,,,,,,,,,,
254099,2.661225e+06,3.035142e+06,3.083064e+06,0,2,1,2,80,80,0,0,0,0,0,1.0,23,8,2015
53461,2.668934e+06,4.170442e+06,3.083064e+06,10,3,2,2,268,268,0,0,0,1,1,2.0,28,6,2013
247984,2.208718e+06,8.590851e+05,2.276217e+06,5,3,2,2,144,166,0,0,0,0,0,2.0,17,10,2015
209067,2.208718e+06,1.472305e+06,2.604062e+06,1,2,1,1,63,67,0,0,0,1,1,1.0,9,3,2012
185997,2.661225e+06,2.622745e+06,2.276217e+06,10,2,1,1,95,95,0,0,0,0,0,1.0,7,6,2016

In [7]:
X = df_train
y = df['precio']

In [8]:
X.head()

,tipodepropiedad,ciudad,provincia,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,extras,dia,mes,anio
id,,,,,,,,,,,,,,,,,,
254099,2.661225e+06,3.035142e+06,3.083064e+06,0,2,1,2,80,80,0,0,0,0,0,1.0,23,8,2015
53461,2.668934e+06,4.170442e+06,3.083064e+06,10,3,2,2,268,268,0,0,0,1,1,2.0,28,6,2013
247984,2.208718e+06,8.590851e+05,2.276217e+06,5,3,2,2,144,166,0,0,0,0,0,2.0,17,10,2015
209067,2.208718e+06,1.472305e+06,2.604062e+06,1,2,1,1,63,67,0,0,0,1,1,1.0,9,3,2012
185997,2.661225e+06,2.622745e+06,2.276217e+06,10,2,1,1,95,95,0,0,0,0,0,1.0,7,6,2016

In [9]:
regressor = RandomForestRegressor() 

regressor.fit(X, y)

c:\users\gaston\appdata\local\programs\python\python37\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

# Submit

In [10]:
df_test_norm = getNormalizedDataset(df_test, 'test')

In [11]:
df_test_norm.isnull().sum()

tipodepropiedad               0
ciudad                        0
provincia                     0
antiguedad                    0
habitaciones                  0
garages                       0
banos                         0
metroscubiertos               0
metrostotales                 0
gimnasio                      0
usosmultiples                 0
piscina                       0
escuelascercanas              0
centroscomercialescercanos    0
extras                        0
dia                           0
mes                           0
anio                          0
dtype: int64

In [12]:
df_test_norm = enc.transform(df_test)
df_test_norm.head()
#df_test_norm = df_test_norm.join(target_enc.transform(df_test_norm[cat_features]).add_suffix('_target'))
#df_test_norm.drop(cat_features, axis=1, inplace=True)

,tipodepropiedad,ciudad,provincia,antiguedad,habitaciones,garages,banos,metroscubiertos,metrostotales,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,extras,dia,mes,anio
id,,,,,,,,,,,,,,,,,,
4941,2.208718e+06,3.955634e+06,3.083064e+06,29,3,0,4,300,300,0,0,0,0,0,0.0,20,7,2013
51775,2.661225e+06,2.004539e+06,2.003991e+06,0,1,1,1,67,67,0,0,0,0,0,1.0,24,10,2015
115253,2.661225e+06,2.857428e+06,3.083064e+06,0,2,1,2,87,100,0,0,0,0,1,1.0,30,5,2015
299321,2.661225e+06,2.562207e+06,2.518969e+06,2,2,2,2,86,86,0,0,0,0,0,2.0,2,4,2015
173570,2.208718e+06,8.848046e+05,2.604062e+06,10,2,1,1,80,80,0,0,0,1,1,1.0,15,8,2013

In [15]:
df_test_norm.isnull().sum()
# Todos aquellos que sean de una categoria que yo no tenia en el set de datos, lo mando a una nueva.
df_test_norm.fillna(0, inplace=True)

In [16]:
pred = regressor.predict(df_test_norm)

In [19]:
res = pd.DataFrame(pred, index=df_test.index, columns=['target'])
display(res.head())
res.to_csv("submission.csv", header=True) # RMSLE=0.65487

           target
id
4941    5953500.0
51775    918800.0
115253  2501327.5
299321  1362857.6
173570   461400.0

# Tuning de hiperparametros

In [22]:
from sklearn.ensemble import RandomForestRegressor
from pprint import pprint
# A ver que hiperparametros uso el random forest de recien
print('Parameters currently in use:\n')
pprint(regressor.get_params())

Parameters currently in use:

{'bootstrap': True,
 'criterion': 'mse',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 10,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [24]:
from sklearn.model_selection import RandomizedSearchCV
import numpy as np

# Seteo una grid de parametros con valores aleatorios para utilizar

# Numero de arboles en el random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]

# Numero de features por cada split
max_features = ['auto', 'sqrt']

# Maximo numero de profundidad (niveles del arbol)
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)

# Minimo numero de samples por cda ssplit
min_samples_split = [2, 5, 10]

# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}

In [ ]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestRegressor()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf,
                               param_distributions = random_grid,
                               n_iter = 100,
                               cv = 3,
                               verbose=2,
                               n_jobs = -1)


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# Fit the random search model
rf_random.fit(X_train, y_train)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.

In [ ]:
rf_random.best_params_

In [ ]:
def evaluate(model, test_features, test_labels):
    predictions = model.predict(test_features)
    errors = abs(predictions - test_labels)
    mape = 100 * np.mean(errors / test_labels)
    accuracy = 100 - mape
    print('Model Performance')
    print('Average Error: {:0.4f} degrees.'.format(np.mean(errors)))
    print('Accuracy = {:0.2f}%.'.format(accuracy))
    
    return accuracy

base_model = RandomForestRegressor(n_estimators = 10, random_state = 42)
base_model.fit(X_train, y_train)
base_accuracy = evaluate(base_model, X_test, y_test)

In [ ]:
best_random = rf_random.best_estimator_
random_accuracy = evaluate(best_random, X_test, y_test)

In [ ]:
print('Improvement of {:0.2f}%.'.format( 100 * (random_accuracy - base_accuracy) / base_accuracy))

# Gridsearch con cv

In [ ]:
from sklearn.model_selection import GridSearchCV
# Create the parameter grid based on the results of random search 
param_grid = {
    'bootstrap': [True],
    'max_depth': [80, 90, 100, 110],
    'max_features': [2, 3],
    'min_samples_leaf': [3, 4, 5],
    'min_samples_split': [8, 10, 12],
    'n_estimators': [100, 200, 300, 1000]
}
# Create a based model
rf = RandomForestRegressor()
# Instantiate the grid search model
grid_search = GridSearchCV(estimator = rf, param_grid = param_grid, 
                          cv = 3, n_jobs = -1, verbose = 2)

In [ ]:
# Fit the grid search to the data
grid_search.fit(X_train, y_train)
grid_search.best_params_

In [ ]:
best_grid = grid_search.best_estimator_
grid_accuracy = evaluate(best_grid, X_test, y_test)

In [ ]:
print('Improvement of {:0.2f}%.'.format( 100 * (grid_accuracy - base_accuracy) / base_accuracy))